  #nav
    height 48px
    background rgba(45,45,45,0.98)
    position sticky
    top 0
    z-index 999
    display flex

  .router-link-active
    display flex !important
    align-items center

  .router-link-active:hover path
    opacity: 0.65;
