.card-title
  display flex

.title
  display flex
  flex-grow 1

.card
  box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.card:hover
  transform scale(1.02)

.card-img-top
  width 100px
  display flex
  align-self center
  margin-top 16px
